<section class="section section-scroll section-background overlay overlay-show overlay-op-9 border-0 m-0" data-section-scroll-title="PRZEJDŻ DO SEKCJI 3" data-section-scroll-header-color="light" style="background-image: url(/assets/images/backgrounds/czytam-wiec-wiem-header-baner-full-black.jpg); background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="row align-items-center h-100 py-5 py-md-0">
            <div class="col-md-12 mb-5 mb-md-0">
                <div class="row pb-3">
                    <div class="col">
                        <div class="overflow-hidden">
                            <div class="appear-animation" data-appear-animation="maskUp">
                                <span class="text-color-light text-4 line-height-3 opacity-6">PROJEKT RESOCJALIZACYJNO-SPOŁECZNY</span>
                            </div>
                        </div>
                        <div class="overflow-hidden mb-3">
                            <h2 class="font-weight-bold text-color-primary text-11 line-height-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{{ site.title }}</h2>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                            <p class="text-color-light text-5 line-height-8 opacity-5">
                                Projekt mający na celu wzbudzenie w młodzieży pożądanej społecznie postawy wobec czytelnictwa wartościowych książek.</p>
                                <p class="text-color-light text-5 line-height-8 opacity-5">
                                Koncepcja projektu jest oparta o przeżycia Pawła Cwynara. Ma uświadamiać młodzieży, że będąc osobami oczytanymi, znacznie łatwiej dokonywać w późniejszym życiu trafnych wyborów, jak również odkrywać swoje talenty.
                                </p>
                                <p class="text-color-light text-5 line-height-8 opacity-5">W projekcie szczególną uwagę poświęcamy osobom nieletnim, które weszły na drogę kolizji z prawem i przebywają w zakładach poprawczych, specjalnych ośrodkach szkolno-wychowawczych czy więzieniach.</p>
                                <p>
                                <a class="mt-4 mb-1 mr-1 popup-youtube btn btn-outline btn-primary btn-xl" href="https://www.youtube.com/watch?v=DjQidrQATAw"><i class="fab fa-youtube"></i> Odtwórz prezentację</a>
                                </p>
                        </div>
                        <a href="/projekt-wiem-bo-czytam/" class="d-inline-flex align-items-center btn btn-with-arrow font-weight-bold text-color-light text-3 p-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                            POZNAJ SZCZEGÓŁY
                            <span class="d-inline-flex align-items-center bg-transparent box-shadow-none ml-3"><i class="fas fa-arrow-right text-color-light text-5"></i></span>
                        </a>
                    </div>
                </div>
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                    <hr class="bg-light opacity-1 my-5">
                </div>
            </div>
        </div>
    </div>
</section>