<section id="1" class="section section-scroll bg-light border-0 p-lg-0 m-0" data-section-scroll-title="PRZEJDŻ DO SEKCJI 2" data-section-scroll-header-color="dark">
  <div class="d-flex flex-column h-100 pt-5 pt-lg-0">
    <div class="h-100">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="/assets/images/backgrounds/pawel-cwynar-hero-image-press.jpg" class="img-fluid appear-animation" data-appear-animation="fadeIn" alt="" />
          </div>
          <div class="col-lg-6">
            <h2 class="font-weight-bold line-height-4 text-12 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Paweł Cwynar</h2>
            <span class="d-block text-4 text-dark line-height-3 appear-animation mb-5" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">Współautor projektu „{{ site.title }}”</span>
            <p class="line-height-5 text-5 text-dark mb-4 pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
              W projekcie „{{ site.title }}” chcemy aktywnie uczestniczyć w zapobieganiu uzależnieniom i przyczynom przestępczości wśród dorosłych, dzieci i młodzieży. Projekt ma także na celu wzbudzenie w młodzieży pożądanej społecznie postawy wobec czytelnictwa wartościowych książek.<br />
              <a class="mt-4 mb-1 mr-1 popup-youtube btn btn-modern btn-primary" href="https://www.youtube.com/watch?v=14s5M1gcSYc"><i class="fab fa-youtube"></i> Odtwórz video Pawła</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>