<section class="section section-scroll section-background border-0 p-0 m-0" data-section-scroll-title="PRZEJDŻ DO SEKCJI 1" data-section-scroll-header-color="light">
    <div class="position-absolute w-100 h-100 top-0 left-0 appear-animation" data-appear-animation="slideInUp" style="background-image: url(/assets/images/backgrounds/czytam-wiec-wiem-header-baner-full-black.jpg); background-size: cover; background-position: center;"></div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6 p-0">

                <div class="row h-100">
                    <div class="col-12 bg-secondary h-50 p-0 px-4 px-lg-0 appear-animation opacity-9" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1200">
                        
                        <div class="row align-items-end justify-content-end h-100">
                            <div class="col-half-section col-half-section-left">
                                <div class="row">
                                    <div class="col">
                                        <h1 class="font-weight-extra-bold text-color-light text-md-10 text-lg-12 line-height-2 mb-4 pb-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1400">
                                            {{ site.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 bg-primary h-50 p-0 px-4 px-lg-0 appear-animation opacity-9" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                        
                        <div class="row justify-content-end h-100">
                            <div class="col-half-section col-half-section-left">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-color-light text-md-4 text-lg-5 line-height-2 mb-4 mt-4 pb-2 appear-animation ls-0" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1400">
                                            {{ site.hero-description }}</h3>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>